name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  sentinel-fmt-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4.1.5
      - name: Install Sentinel
        uses: hashicorp/setup-sentinel@main
        id: setup
        with:
          version: ${{ inputs.sentinel-version }}
      - name: Sentinel Format
        run: |
          find "$GITHUB_WORKSPACE/policies" -type f -path "*/test/*.hcl" -exec sed -i 's|plugins/darwin/arm64|plugins/linux/amd64|g' {} +
          sentinel fmt -check=true $(find . -name "*.sentinel" -type f)
      - name: Sentinel test
        run: |
          sentinel test -verbose $(find . -name "*.sentinel" -type f ! -path "*/mocks/*" ! -path "*/example/*" ! -path "*/modules/*")